00_data/02_trimmed_RNA/
00_data/03_assembled_DNA/
01_analyses/00_preprocessing/02_trimming/D1_log.txt.gz
01_analyses/00_preprocessing/02_trimming/D3_log.txt.gz
01_analyses/00_preprocessing/02_trimming/RNA_D1_PF.fq.gz
01_analyses/00_preprocessing/02_trimming/RNA_D1_PR.fq.gz
01_analyses/00_preprocessing/02_trimming/RNA_D1_UF.fq.gz
01_analyses/00_preprocessing/02_trimming/RNA_D1_UR.fq.gz
01_analyses/00_preprocessing/02_trimming/RNA_D3_PF.fq.gz
01_analyses/00_preprocessing/02_trimming/RNA_D3_PR.fq.gz
01_analyses/00_preprocessing/02_trimming/RNA_D3_UF.fq.gz
01_analyses/00_preprocessing/02_trimming/RNA_D3_UR.fq.gz
01_analyses/01_metagenome_assembly/final.contigs.fa.gz
01_analyses/01_metagenome_assembly/tmp_07/
01_analyses/02_binning/bin.01.fa.gz
01_analyses/02_binning/bin.02.fa.gz
01_analyses/02_binning/bin.03.fa.gz
01_analyses/02_binning/bin.04.fa.gz
01_analyses/02_binning/bin.05.fa.gz
01_analyses/02_binning/bin.06.fa.gz
01_analyses/02_binning/bin.07.fa.gz
01_analyses/02_binning/bin.08.fa.gz
01_analyses/02_binning/bin.09.fa.gz
01_analyses/02_binning/bin.10.fa.gz
01_analyses/02_binning/bin.11.fa.gz
01_analyses/02_binning/bin.12.fa.gz
01_analyses/02_binning/bin.13.fa.gz
01_analyses/02_binning/bin.14.fa.gz
01_analyses/02_binning/bin.15.fa.gz
01_analyses/02_binning/bin.16.fa.gz
01_analyses/02_binning/bin.17.fa.gz
01_analyses/02_binning/bin.18.fa.gz
01_analyses/02_binning/bin.19.fa.gz
01_analyses/02_binning/bin.20.fa.gz
01_analyses/02_binning/bin.21.fa.gz
01_analyses/02_binning/bin.22.fa.gz
01_analyses/02_binning/bin.23.fa.gz
01_analyses/02_binning/bin.24.fa.gz
01_analyses/02_binning/bin.25.fa.gz
01_analyses/02_binning/bin.26.fa.gz
01_analyses/02_binning/bin.27.fa.gz
01_analyses/02_binning/bin.28.fa.gz
01_analyses/02_binning/bin.29.fa.gz
01_analyses/02_binning/bin.30.fa.gz
01_analyses/02_binning/bin.31.fa.gz
01_analyses/02_binning/bin.32.fa.gz
01_analyses/02_binning/bin.33.fa.gz
01_analyses/02_binning/bin.34.fa.gz
01_analyses/02_binning/bin.35.fa.gz
01_analyses/02_binning/bin.36.fa.gz
01_analyses/02_binning/bin.37.fa.gz
01_analyses/02_binning/bin.38.fa.gz
01_analyses/02_binning/bin.39.fa.gz
01_analyses/02_binning/bin.40.fa.gz
01_analyses/02_binning/bin.41.fa.gz
01_analyses/02_binning/bin.42.fa.gz
01_analyses/02_binning/bin.43.fa.gz
01_analyses/02_binning/bin.44.fa.gz
01_analyses/02_binning/bin.45.fa.gz
01_analyses/02_binning/bin.46.fa.gz
01_analyses/02_binning/bin.47.fa.gz
01_analyses/02_binning/bin.48.fa.gz
01_analyses/02_binning/bin.49.fa.gz
01_analyses/02_binning/bin.50.fa.gz
01_analyses/02_binning/bin.51.fa.gz
02_code/01_metagenome_assembly/00_slurm_bin/slurm-7654375.out
02_code/01_metagenome_assembly/00_slurm_bin/slurm-7655870.out
02_code/01_metagenome_assembly/00_slurm_bin/slurm-7656648.out
02_code/01_metagenome_assembly/00_slurm_bin/slurm-7659539.out
02_code/01_metagenome_assembly/00_slurm_bin/slurm-7659540.out
02_code/01_metagenome_assembly/00_slurm_bin/slurm-7659802.out
02_code/01_metagenome_assembly/00_slurm_bin/slurm-7681145.out
02_code/01_metagenome_assembly/slurm-7700582.out
02_code/02_binning/00_slurm_bin/
02_code/02_binning/slurm-7709569.out
00_data/04_binning/bin_01.fa.gz
00_data/04_binning/bin_02.fa.gz
00_data/04_binning/bin_03.fa.gz
00_data/04_binning/bin_04.fa.gz
00_data/04_binning/bin_05.fa.gz
00_data/04_binning/bin_06.fa.gz
00_data/04_binning/bin_07.fa.gz
00_data/04_binning/bin_08.fa.gz
00_data/04_binning/bin_09.fa.gz
00_data/04_binning/bin_10.fa.gz
00_data/04_binning/bin_11.fa.gz
00_data/04_binning/bin_12.fa.gz
00_data/04_binning/bin_13.fa.gz
00_data/04_binning/bin_14.fa.gz
00_data/04_binning/bin_15.fa.gz
00_data/04_binning/bin_16.fa.gz
00_data/04_binning/bin_17.fa.gz
00_data/04_binning/bin_18.fa.gz
00_data/04_binning/bin_19.fa.gz
00_data/04_binning/bin_20.fa.gz
00_data/04_binning/bin_21.fa.gz
00_data/04_binning/bin_22.fa.gz
00_data/04_binning/bin_23.fa.gz
00_data/04_binning/bin_24.fa.gz
00_data/04_binning/bin_25.fa.gz
00_data/04_binning/bin_26.fa.gz
00_data/04_binning/bin_27.fa.gz
00_data/04_binning/bin_28.fa.gz
00_data/04_binning/bin_29.fa.gz
00_data/04_binning/bin_30.fa.gz
00_data/04_binning/bin_31.fa.gz
00_data/04_binning/bin_32.fa.gz
00_data/04_binning/bin_33.fa.gz
00_data/04_binning/bin_34.fa.gz
00_data/04_binning/bin_35.fa.gz
00_data/04_binning/bin_36.fa.gz
00_data/04_binning/bin_37.fa.gz
00_data/04_binning/bin_38.fa.gz
00_data/04_binning/bin_39.fa.gz
00_data/04_binning/bin_40.fa.gz
00_data/04_binning/bin_41.fa.gz
00_data/04_binning/bin_42.fa.gz
00_data/04_binning/bin_43.fa.gz
00_data/04_binning/bin_44.fa.gz
00_data/04_binning/bin_45.fa.gz
00_data/04_binning/bin_46.fa.gz
00_data/04_binning/bin_47.fa.gz
00_data/04_binning/bin_48.fa.gz
00_data/04_binning/bin_49.fa.gz
00_data/04_binning/bin_50.fa.gz
00_data/04_binning/bin_51.fa.gz
01_analyses/03_quality_checks/00_assembly_quality/tmp/
02_code/03_quality_checks/00_slurm_bin/
02_code/03_quality_checks/slurm-7731505.out
01_analyses/03_quality_checks/01_binning_quality/tmp/
01_analyses/04_annotation/tmp1/
01_analyses/04_annotation/tmp10/
01_analyses/04_annotation/tmp11/
01_analyses/04_annotation/tmp12/
01_analyses/04_annotation/tmp13/
01_analyses/04_annotation/tmp14/
01_analyses/04_annotation/tmp15/
01_analyses/04_annotation/tmp16/
01_analyses/04_annotation/tmp17/
01_analyses/04_annotation/tmp18/
01_analyses/04_annotation/tmp19/
01_analyses/04_annotation/tmp2/
01_analyses/04_annotation/tmp20/
01_analyses/04_annotation/tmp21/
01_analyses/04_annotation/tmp22/
01_analyses/04_annotation/tmp23/
01_analyses/04_annotation/tmp24/
01_analyses/04_annotation/tmp25/
01_analyses/04_annotation/tmp26/
01_analyses/04_annotation/tmp27/
01_analyses/04_annotation/tmp28/
01_analyses/04_annotation/tmp29/
01_analyses/04_annotation/tmp3/
01_analyses/04_annotation/tmp30/
01_analyses/04_annotation/tmp31/
01_analyses/04_annotation/tmp32/
01_analyses/04_annotation/tmp33/
01_analyses/04_annotation/tmp34/
01_analyses/04_annotation/tmp35/
01_analyses/04_annotation/tmp36/
01_analyses/04_annotation/tmp37/
01_analyses/04_annotation/tmp38/
01_analyses/04_annotation/tmp39/
01_analyses/04_annotation/tmp4/
01_analyses/04_annotation/tmp40/
01_analyses/04_annotation/tmp41/
01_analyses/04_annotation/tmp42/
01_analyses/04_annotation/tmp43/
01_analyses/04_annotation/tmp44/
01_analyses/04_annotation/tmp45/
01_analyses/04_annotation/tmp46/
01_analyses/04_annotation/tmp47/
01_analyses/04_annotation/tmp48/
01_analyses/04_annotation/tmp49/
01_analyses/04_annotation/tmp5/
01_analyses/04_annotation/tmp50/
01_analyses/04_annotation/tmp51/
01_analyses/04_annotation/tmp6/
01_analyses/04_annotation/tmp7/
01_analyses/04_annotation/tmp8/
01_analyses/04_annotation/tmp9/
02_code/03_quality_checks/slurm-7731825.out
02_code/04_annotation/00_slurm_bin/
02_code/04_annotation/slurm-7852651.out
00_data/05_annotated_DNA/
00_data/06_mapped_RNA_to_DNA/
01_analyses/05_mapping/tmp/
01_analyses/06_read_counting/out_D1_bin1.txt
01_analyses/06_read_counting/out_D1_bin10.txt
01_analyses/06_read_counting/out_D1_bin11.txt
01_analyses/06_read_counting/out_D1_bin12.txt
01_analyses/06_read_counting/out_D1_bin13.txt
01_analyses/06_read_counting/out_D1_bin14.txt
01_analyses/06_read_counting/out_D1_bin15.txt
01_analyses/06_read_counting/out_D1_bin16.txt
01_analyses/06_read_counting/out_D1_bin17.txt
01_analyses/06_read_counting/out_D1_bin18.txt
01_analyses/06_read_counting/out_D1_bin19.txt
01_analyses/06_read_counting/out_D1_bin2.txt
01_analyses/06_read_counting/out_D1_bin20.txt
01_analyses/06_read_counting/out_D1_bin21.txt
01_analyses/06_read_counting/out_D1_bin22.txt
01_analyses/06_read_counting/out_D1_bin23.txt
01_analyses/06_read_counting/out_D1_bin24.txt
01_analyses/06_read_counting/out_D1_bin25.txt
01_analyses/06_read_counting/out_D1_bin26.txt
01_analyses/06_read_counting/out_D1_bin27.txt
01_analyses/06_read_counting/out_D1_bin28.txt
01_analyses/06_read_counting/out_D1_bin29.txt
01_analyses/06_read_counting/out_D1_bin3.txt
01_analyses/06_read_counting/out_D1_bin30.txt
01_analyses/06_read_counting/out_D1_bin31.txt
01_analyses/06_read_counting/out_D1_bin32.txt
01_analyses/06_read_counting/out_D1_bin33.txt
01_analyses/06_read_counting/out_D1_bin34.txt
01_analyses/06_read_counting/out_D1_bin35.txt
01_analyses/06_read_counting/out_D1_bin36.txt
01_analyses/06_read_counting/out_D1_bin37.txt
01_analyses/06_read_counting/out_D1_bin38.txt
01_analyses/06_read_counting/out_D1_bin39.txt
01_analyses/06_read_counting/out_D1_bin4.txt
01_analyses/06_read_counting/out_D1_bin40.txt
01_analyses/06_read_counting/out_D1_bin41.txt
01_analyses/06_read_counting/out_D1_bin42.txt
01_analyses/06_read_counting/out_D1_bin43.txt
01_analyses/06_read_counting/out_D1_bin44.txt
01_analyses/06_read_counting/out_D1_bin45.txt
01_analyses/06_read_counting/out_D1_bin46.txt
01_analyses/06_read_counting/out_D1_bin47.txt
01_analyses/06_read_counting/out_D1_bin48.txt
01_analyses/06_read_counting/out_D1_bin49.txt
01_analyses/06_read_counting/out_D1_bin5.txt
01_analyses/06_read_counting/out_D1_bin50.txt
01_analyses/06_read_counting/out_D1_bin51.txt
01_analyses/06_read_counting/out_D1_bin6.txt
01_analyses/06_read_counting/out_D1_bin7.txt
01_analyses/06_read_counting/out_D1_bin8.txt
01_analyses/06_read_counting/out_D1_bin9.txt
01_analyses/06_read_counting/out_D3_bin1.txt
01_analyses/06_read_counting/out_D3_bin10.txt
01_analyses/06_read_counting/out_D3_bin11.txt
01_analyses/06_read_counting/out_D3_bin12.txt
01_analyses/06_read_counting/out_D3_bin13.txt
01_analyses/06_read_counting/out_D3_bin14.txt
01_analyses/06_read_counting/out_D3_bin15.txt
01_analyses/06_read_counting/out_D3_bin16.txt
01_analyses/06_read_counting/out_D3_bin17.txt
01_analyses/06_read_counting/out_D3_bin18.txt
01_analyses/06_read_counting/out_D3_bin19.txt
01_analyses/06_read_counting/out_D3_bin2.txt
01_analyses/06_read_counting/out_D3_bin20.txt
01_analyses/06_read_counting/out_D3_bin21.txt
01_analyses/06_read_counting/out_D3_bin22.txt
01_analyses/06_read_counting/out_D3_bin23.txt
01_analyses/06_read_counting/out_D3_bin24.txt
01_analyses/06_read_counting/out_D3_bin25.txt
01_analyses/06_read_counting/out_D3_bin26.txt
01_analyses/06_read_counting/out_D3_bin27.txt
01_analyses/06_read_counting/out_D3_bin28.txt
01_analyses/06_read_counting/out_D3_bin29.txt
01_analyses/06_read_counting/out_D3_bin3.txt
01_analyses/06_read_counting/out_D3_bin30.txt
01_analyses/06_read_counting/out_D3_bin31.txt
01_analyses/06_read_counting/out_D3_bin32.txt
01_analyses/06_read_counting/out_D3_bin33.txt
01_analyses/06_read_counting/out_D3_bin34.txt
01_analyses/06_read_counting/out_D3_bin35.txt
01_analyses/06_read_counting/out_D3_bin36.txt
01_analyses/06_read_counting/out_D3_bin37.txt
01_analyses/06_read_counting/out_D3_bin38.txt
01_analyses/06_read_counting/out_D3_bin39.txt
01_analyses/06_read_counting/out_D3_bin4.txt
01_analyses/06_read_counting/out_D3_bin40.txt
01_analyses/06_read_counting/out_D3_bin41.txt
01_analyses/06_read_counting/out_D3_bin42.txt
01_analyses/06_read_counting/out_D3_bin43.txt
01_analyses/06_read_counting/out_D3_bin44.txt
01_analyses/06_read_counting/out_D3_bin45.txt
01_analyses/06_read_counting/out_D3_bin46.txt
01_analyses/06_read_counting/out_D3_bin47.txt
01_analyses/06_read_counting/out_D3_bin48.txt
01_analyses/06_read_counting/out_D3_bin49.txt
01_analyses/06_read_counting/out_D3_bin5.txt
01_analyses/06_read_counting/out_D3_bin50.txt
01_analyses/06_read_counting/out_D3_bin51.txt
01_analyses/06_read_counting/out_D3_bin6.txt
01_analyses/06_read_counting/out_D3_bin7.txt
01_analyses/06_read_counting/out_D3_bin8.txt
01_analyses/06_read_counting/out_D3_bin9.txt
02_code/04_annotation/slurm-7852807.out
02_code/05_mapping/00_slurm_bin/
02_code/05_mapping/slurm-7852808.out
02_code/06_read_counting/00_slurm_bin/
02_code/06_read_counting/slurm-7857298.out
